@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&display=swap');

a {
    color: black;
    text-decoration: none;
}

body {
    font-size: 100%;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    background: linear-gradient(180deg, #FFE9E9 0%, rgba(253, 147, 204, 0.958952) 45.24%, rgba(253, 143, 202, 0.994792) 50.76%, rgba(253, 146, 203, 0.968226) 56%, rgba(253, 166, 210, 0.744966) 73.96%, rgba(255, 226, 230, 0.0744966) 99.99%, rgba(255, 233, 233, 0) 100%);
    border: 1px solid #ffffff;
    
}


.Title {
    font-family: 'Lobster', cursive;
    text-align: center;
    color:rgb(20, 19, 19);
}

.FotoPerfil{ 
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: block;
    margin: 0px auto;
}

.nome {
    font-family: 'Lobster', cursive;
    text-align: center;
    color:rgb(20, 19, 19);
}

.frase {
    font-family: 'Lobster', cursive;
    text-align: center;
    color:rgb(20, 19, 19);
}

.button_sobremim {

    margin: 0 auto;
    text-align: center;
    font-size:20px;
    font-family: 'Lobster', cursive;
    width:400px;
    height:40px;
    border-width:2px;
    color:#fff;
    border-color:#c584f3;
    font-weight:bold;
    border-top-left-radius:21px;
    border-top-right-radius:21px;
    border-bottom-left-radius:21px;
    border-bottom-right-radius:21px;
    box-shadow:inset 0px 0px 9px -3px #efdcfb;
    text-shadow:inset 0px 0px 0px #9752cc;
    background:linear-gradient(#dfbdfa, #bc80ea);
}

.button_meustrabalhos {

    margin: 0 auto;
    text-align: center;
    font-size:20px;
    font-family: 'Lobster', cursive;
    width:400px;
    height:40px;
    border-width:2px;
    color:#fff;
    border-color:#c584f3;
    font-weight:bold;
    border-top-left-radius:21px;
    border-top-right-radius:21px;
    border-bottom-left-radius:21px;
    border-bottom-right-radius:21px;
    box-shadow:inset 0px 0px 9px -3px #efdcfb;
    text-shadow:inset 0px 0px 0px #9752cc;
    background:linear-gradient(#dfbdfa, #bc80ea);
}

.button_curriculo {

    margin: 0 auto;
    text-align: center;
    font-size:20px;
    font-family: 'Lobster', cursive;
    width:400px;
    height:40px;
    border-width:2px;
    color:#fff;
    border-color:#c584f3;
    font-weight:bold;
    border-top-left-radius:21px;
    border-top-right-radius:21px;
    border-bottom-left-radius:21px;
    border-bottom-right-radius:21px;
    box-shadow:inset 0px 0px 9px -3px #efdcfb;
    text-shadow:inset 0px 0px 0px #9752cc;
    background:linear-gradient(#dfbdfa, #bc80ea);
}

.button_github {

    margin: 0 auto;
    text-align: center;
    font-size:20px;
    font-family: 'Lobster', cursive;
    width:400px;
    height:40px;
    border-width:2px;
    color:#fff;
    border-color:#c584f3;
    font-weight:bold;
    border-top-left-radius:21px;
    border-top-right-radius:21px;
    border-bottom-left-radius:21px;
    border-bottom-right-radius:21px;
    box-shadow:inset 0px 0px 9px -3px #efdcfb;
    text-shadow:inset 0px 0px 0px #9752cc;
    background:linear-gradient(#dfbdfa, #bc80ea);
}

.button_linkedin {

    
    margin: 0 auto;
    text-align: center;
    font-size:20px;
    font-family: 'Lobster', cursive;
    width:400px;
    height:40px;
    border-width:2px;
    color:#fff;
    border-color:#c584f3;
    font-weight:bold;
    border-top-left-radius:21px;
    border-top-right-radius:21px;
    border-bottom-left-radius:21px;
    border-bottom-right-radius:21px;
    box-shadow:inset 0px 0px 9px -3px #efdcfb;
    text-shadow:inset 0px 0px 0px #9752cc;
    background:linear-gradient(#dfbdfa, #bc80ea);
}

.button_insta {

    margin: 0 auto;
    text-align: center;
    font-size:20px;
    font-family: 'Lobster', cursive;
    width:400px;
    height:40px;
    border-width:2px;
    color:#fff;
    border-color:#c584f3;
    font-weight:bold;
    border-top-left-radius:21px;
    border-top-right-radius:21px;
    border-bottom-left-radius:21px;
    border-bottom-right-radius:21px;
    box-shadow:inset 0px 0px 9px -3px #efdcfb;
    text-shadow:inset 0px 0px 0px #9752cc;
    background:linear-gradient(#dfbdfa, #bc80ea);
}

.button_pinterest {

    margin: 0 auto;
    text-align: center;
    font-size:20px;
    font-family: 'Lobster', cursive;
    width:400px;
    height:40px;
    border-width:2px;
    color:#fff;
    border-color:#c584f3;
    font-weight:bold;
    border-top-left-radius:21px;
    border-top-right-radius:21px;
    border-bottom-left-radius:21px;
    border-bottom-right-radius:21px;
    box-shadow:inset 0px 0px 9px -3px #efdcfb;
    text-shadow:inset 0px 0px 0px #9752cc;
    background:linear-gradient(#dfbdfa, #bc80ea);


}

.button_girls {

    margin: 0 auto;
    text-align: center;
    font-size:20px;
    font-family: 'Lobster', cursive;
    width:400px;
    height:40px;
    border-width:2px;
    color:#fff;
    border-color:#c584f3;
    font-weight:bold;
    border-top-left-radius:21px;
    border-top-right-radius:21px;
    border-bottom-left-radius:21px;
    border-bottom-right-radius:21px;
    box-shadow:inset 0px 0px 9px -3px #efdcfb;
    text-shadow:inset 0px 0px 0px #9752cc;
    background:linear-gradient(#dfbdfa, #bc80ea);


}

footer {
    margin-top: 48px;
    margin-bottom: 30px;
    border-top: 0.4px solid white;
    width: 1519px;
}

#footer-texto {
    font-family: 'Geostar Fill', cursive;
    font-size: 16px;
    padding-top: 25px;
    padding-left: 20px;
    color: white;
}